body {
    background:  #C1D0E1 ;
    display: block;
    text-align: center;
  }

  h1 {
    font-family: Righteous;
    font-size: 72px;
    color: #FFFFFF;
    margin-top: 50px;
  }

  h2 {
    font-family: Righteous;
    font-size: 30px;
    color: #FFFFFF;
    margin-top: 30px;
  }