
body{
  text-align: center;
  background-color: #C1D0E1 ;
}

.container {
  text-align: center;
}

h1 {
  font-family: Righteous;
  font-size: 96px;
  text-align: center;
  color: #FFFFFF;
  margin-top: 30px;
}

.logo {
  width: 200px;
  display: block;
}

button {
  font-family: Quicksand;
  color: #FFFFFF;
  border-radius: 6px; 
  background-color: rgba(193, 208, 225, 0.788);
  display: block;
  width: 50px;
  height: 30px;
}