body {
  background:  #C1D0E1 ;
}

@media only screen 
    and (device-width : 414px) 
    and (device-height : 896px) 
    and (-webkit-device-pixel-ratio : 2) { 

  body {
    display: block;
    text-align: center;
    background:  #C1D0E1;
  }

  h1 {
    font-family: Righteous;
    font-size: 72px;
    color: #FFFFFF;
    margin-top: 30px;
  }

  h2 {
    font-family: Righteous;
    font-size: 40px;
    color: #FFFFFF;
    margin-top: 30px;
  }

  h2 .logo {
    width: 40px;
  }

  .logo {
    width: 200px;
  }

  .button {
    font-family: Quicksand;
    font-size: 18px;
    padding: 20px;
    border: none;
    color: #FFFFFF;
    border-radius: 12px; 
    background-color: #C0C0C0;
    margin: 20px;
    text-decoration: none;
  }

  a {
    text-decoration: none;
  }

  li {
    font-family: Quicksand;
    color: #FFFFFF;
  }

  c {
    text-align: center;
  }

}