@media only screen and (max-width: 414px) {
  width: 100%;
  background-color: #C1D0E1 ;
}

body{
  font: 16px/1.5 Century Gothic, Gill Sans, Avenir;
  padding:0;
  margin:0;
  background-color:#ffffff;
}

.h1 {
  width: 262px;
  height: 82px;
  font-family: Righteous;
  font-size: 48px;
  text-align: center;
  color: #FFFFFF;
}

/* Header **/
header{
  padding-top:5px;
  padding-bottom:5px;
}